/*# sourceMappingURL=../maps/style.css.map */
.countdown{
    background-color: #807bf2;
    border-radius: 10px;
}

.rating{
    color: black !important;
    margin-right: 0px;
}

.float-animation {
    animation: float 3s ease-in-out infinite; /* Nombre de la animaci贸n, duraci贸n, tipo y si se repite */
}

@keyframes float {
    0% {
        transform: translateY(0px); /* Posici贸n inicial */
    }
    50% {
        transform: translateY(-20px); /* Sube 20px */
    }
    100% {
        transform: translateY(0px); /* Vuelve a la posici贸n inicial */
    }
}